@font-face {
    font-family: "RedHatText";
    src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf);
}

/************************
* 1. Default Styles
* 2. MAIN
*************************/

/* 1 Default Styles */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --green: #1EA575;
    --red: #C73B0F;
    --rose-900: #260F08;
    --rose-500: #87635A;
    --rose-400: #AD8A85;
    --rose-300: #CAAFA7;
    --rose-100: #F5EEEC;
    --rose-50: #FCF8F6;
}

.text-preset-1 {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-3 {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 600;
}

.text-preset-4{
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
}

.text-preset-5 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 600;
}

img {
    border-radius: 8px;
}

* {
    font-family: "RedHatText";
}

h1 {
    margin: 24px 0 32px 0;
}

body {
    margin: 0;
    background-color: var(--rose-50);
}

.add-cart-btn::before {
    content: url(../assets/images/icon-add-to-cart.svg);
}

.add-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    position: relative;
    top: -28px;
    left: calc(50% - 73.215px);
    background-color: var(--white);
    border: 1px solid var(--rose-400);
    color: var(--rose-900);
    border-radius: 999px;
    width: 160px;
    height: 44px;
}

.cart-quantity-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 8px;
    position: relative;
    top: -28px;
    left: calc(50% - 73.215px);
    background-color: var(--red);
    border: 1px solid var(--rose-400);
    color: var(--rose-900);
    border-radius: 999px;
    width: 160px;
    height: 44px;
}

.add-cart-btn:hover {
    color: var(--red);
    border-color: var(--red);
    cursor: pointer;
}

.increment {
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 4px;
}

.increment:hover, .increment:hover path{
    background-color: var(--white);
    fill: var(--red);
    cursor: pointer;
}

.decrement {
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 8px 4px;
}

.decrement:hover, .decrement:hover path {
    background-color: var(--white);
    fill: var(--red);
    cursor: pointer;
}

.deleteButton:hover, .deleteButton:hover path{
    border: 1px solid var(--rose-900);
    fill: var(--rose-900)
}

.deleteButton {
    border-radius: 50%;
    border: 1px solid var(--rose-400);
    cursor: pointer;
    padding: 4px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    /* border-bottom: 1px solid var(--rose-100); */
}

.cartDescription {
    display: flex;
    column-gap: 8px;
    margin-bottom: 0;
}


/* 2. MAIN */
main {
    margin: 0 24px;
}


#cart-container {
    padding: 24px;
    background-color: var(--white);
    border-radius: 12px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart-container h2 {
    color: var(--red);
}

#cart > p {
    margin: 16px 0;
    color: var(--rose-500);
}

/* Any div inside the id item div */
#item > div {
    max-width: 327px;
}

#item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
    justify-content: center;
}

#deliveryComment::before {
    content: url('../assets/images/icon-carbon-neutral.svg');
    margin: 0 0.5px 24px 0;
}

.confirmButton:hover {
    background-color: #952C0B;
    cursor: pointer;
}

.confirmButton {
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    height: 53px;
    border-radius: 999px;
    border: none;
}

.orderTotalContainer {
    display: flex;
    justify-content: space-between;
}


.orderSubmitContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: -1000px;
    height: 100%;
}


.orderSubmitWrapper::before {
    content: url(../assets/images/icon-order-confirmed.svg);
}

.orderSubmitWrapper {
    background-color: var(--white);
    max-width: 327px;
    padding: 40px 24px;
    margin-top: 95px;
    border-radius: 12px 12px 0 0;
    height: 100%;
}


@media screen and (min-width: 768px){
    main {
        margin: 40px;
    }

    #item > div {
        max-width: 213.33px;
    }

    .orderSubmitWrapper {
        border-radius: 12px;
        max-width: 688px;
        width: 100%;
        height: min-content;
        padding: 40px;
    }
}

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        justify-content: center;
        margin: 88px 112px;
        column-gap: 32px;
    }

    #heading-container {
        width: 800px;
    }

    #item {
        width: 800px;
    }

    #item > div {
       max-width: 250.67px;
    }

    #cart-container {
        margin: 0;
        width: 100%;
        max-width: 384px;
        height: min-content;
    }

    .orderSubmitWrapper {
        max-width: 592px;
        width: 100%;
    }
}