@font-face {
    font-family: "RedHatText";
    src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf);
}

/************************
* 1. Default Styles
* 2. MAIN
*************************/

/* 1 Default Styles */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --green: #1EA575;
    --red: #C73B0F;
    --rose-900: #260F08;
    --rose-500: #87635A;
    --rose-400: #AD8A85;
    --rose-300: #CAAFA7;
    --rose-100: #F5EEEC;
    --rose-50: #FCF8F6;
}

.text-preset-1 {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-3 {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 600;
}

.text-preset-4{
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
}

.text-preset-5 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 600;
}

img {
    border-radius: 8px;
}

* {
    font-family: "RedHatText";
}

body {
    margin: 0;
    background-color: var(--rose-50);
}

.add-cart-btn::before {
    content: url(../assets/images/icon-add-to-cart.svg);
}

.add-cart-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    top: -28px;
    left: calc(50% - 73.215px);
    background-color: var(--white);
    border: 1px solid var(--rose-400);
    color: var(--rose-900);
    border-radius: 999px;
    padding: 12px 28px;
}

/* 2. MAIN */
main {
    margin: 0 24px;
}

#cart-container {
    padding: 24px;
    background-color: var(--white);
    border-radius: 12px;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart-container h2 {
    color: var(--red);
}

#cart > p {
    margin: 16px 0;
    color: var(--rose-500);
}

/* Any div inside the id item div */
#item > div {
    max-width: 327px;
}

#item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
    justify-content: center;
}

@media screen and (min-width: 768px){
    main {
        margin: 40px;
    }

    #item > div {
        max-width: 213.33px;
    }
}

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        justify-content: center;
        margin: 88px 112px;
        column-gap: 32px;
    }

    #heading-container {
        width: 800px;
    }

    #item {
        width: 800px;
    }

    #item > div {
       max-width: 250.67px;
    }

    #cart-container {
        margin: 0;
        width: 100%;
        max-width: 384px;
        height: min-content;
    }
}